<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-display-middle">
{% if error %}
<p><strong>Unknown user or password incorrect</strong></p>
{% endif %}

<form method="post" action="{% url 'connexion' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{next}}"/>
    <button class="w3-button w3-black w3-right w3-section" type="submit">SIGN IN</button>
</form>
</div>
</body>
</html>
