<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
</head>
<body>
<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
{% if error %}
<p><strong>Unknown user or password incorrect</strong></p>
{% endif %}

<form method="post" action="{% url 'connexion' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{next}}"/>
    <button class="w3-button w3-black w3-right w3-section" type="submit">SIGN IN</button>
</form>
    </div>
</div>
</body>
</html>
